.fadeTransition {
  &-enter-active,
  &-leave-active {
    transition: opacity .5s;
  }

  &-enter-active {
    animation: fadeTransit ease .5s;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

.bg {
  &-theme {
    &-main {
      background: rgb(0,0,0);
      background: linear-gradient(90deg, rgba(0,0,0,0.9) 0%, rgba(38,38,38,0.8) 50%, rgba(0,0,0,0.9) 100%);
      animation: loading 2s infinite;
      opacity: 1;
    }
  }
}

@keyframes loading {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

@keyframes fadeTransit {
  0% {
    margin-top: -15px;
    opacity:0;
  }
  100% {
    margin-top: 0;
    opacity:1;
  }
}

.input-container {

  @apply w-full lg:w-auto;

  .content {
    & {
      @apply flex flex-row gap-[1rem] relative items-center
      bg-[#0C0C0C]
      px-[1rem] py-2 w-full
      border-2 border-white border-opacity-20
      divide-x-2 divide-white divide-opacity-20
      transition-all ease-in-out;
    }

    &:focus-within {
      @apply
      border-2
      border-[#9e9e9e]
    }

    img, svg:not(.eye) {
      @apply h-8 w-8;
    }

    .icon {
      @apply
      absolute right-6
      top-1/2 transform cursor-pointer
      -translate-y-1/2 h-5 z-20 w-5;

      .eye {
        @apply opacity-50;

        &:hover {
          @apply opacity-100;
        }
      }
    }

    input {
      @apply bg-transparent outline-none pl-[1rem] w-full lg:w-96;
      background-clip: content-box;

      &::placeholder {
        @apply text-white opacity-20;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: #fff !important;
      }
    }
  }
}